DATABASE_URL="postgresql://admin:Admin.1234!@localhost:5432/visorplanosredes_web"
SHADOW_DATABASE_URL="postgresql://admin:Admin.1234!@localhost:5432/visorplanosredes_shadow"
JWT_SECRET=yOitqtlLep9W9xIh9qEDhXXSpSvP2lNotN/f8kEbu8A=
JWT_EXPIRES_IN=7d
PORT=3000